<% provide :title, @user.name %>
<div class="row">
  <div class="col-md-4 center">
    <div class="user_info">
      <p>
        <%= gravatar_for @user %>
      </p>
      <p>
        <b><%= @user.name %></b>
      </p>
      <p>
        <b><%= t "application.email" %></b>
        <%= @user.email %>
      </p>
      <% if current_user.current_user? @user %>
        <%= link_to t("user.edit"), edit_user_path(current_user) %>
      <% end %>
    </div>
  </div>
</div>
