<div class="row">
  <div class = "col-md-6 col-md-offset-3">
    <%= form_for [:admin, @product], html: {multipart: true} do |f| %>
      <%=render "shared/error_messages", object: f.object %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :content %>
      <%= f.text_area :content %>
      <%= f.file_field :picture_link, accept: "image/jpeg, image/png"%>
      <%= f.label :price %>
      <%= f.text_field :price %>
      <%= f.label :classify %>
      <%= f.select :classify, @product_selects %>
      <%= f.label :category %>
      <%= f.select :category_id, @category_selects %>
      <%= f.label :quantity %>
      <%= f.number_field :quantity %>
      <%= f.submit @product.new_record? ? t("product.create_button") :
        t("product.update_product"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
